﻿@model MessageListViewModel
@{
    ViewData["Title"] = "Home Page";
   
}

<div>
    <table class="table">
        <thead>
        <tr>
            <th>User Name</th>
            <th>Date</th>
            <th>Topic</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var message in Model.MessageList)
        {
            <tr>
                <td>@message.UserName</td>
                <td>@message.Date</td>
                <td>@message.MessageTopic</td>
                <td><textarea rows="3">@message.MessageText</textarea></td>

            </tr>

        }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Message">Create Message</a>
</div>