﻿@model MessageViewModel
@{
    ViewData["Title"] = "Message";
}

<h2>MessageCreation</h2>
<h2>@ViewData["Message"]</h2>

<form asp-action="Message" method="post"  asp-controller="Home">
    <!--

    <div  asp-validation-summary="All"  class="text-danger"></div>
    -->
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" class="form-control" type="datetime" value="@DateTime.Now" readonly />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MessageTopic">MessageTopic</label>
        <input class="form-control" asp-for="MessageTopic" />
        <span asp-validation-for="MessageTopic" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MessageText">Text Area</label>
        <textarea class="form-control" rows="10" asp-for="MessageText"></textarea>
        <span asp-validation-for="MessageText" class="text-danger"></span>
    </div>
    <button type="submit">Send</button>
</form>

